<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="webhookurl-on" value="http://storagenode2:8123/api/webhook/-dNwnR5_OPElTTSdXsj8Cpnhr" />
      <add key="webhookurl-off" value="http://storagenode2:8123/api/webhook/-FGmwAQrpJeP8HXhNS4Fx2dZb" />
    </appSettings>
</configuration>